{% extends 'base.html' %}
{% load static %}
{% block title %}SecureUp | Dashboard{% endblock %}
{% block content %}
<br /><br />
<div class="container bg-white shadow-md px-5 pb-3 pt-4 form-layout">
    <h5>Welcome {{ user }}</h5>
    <br />
    <p>This is your dashboard.</p>
    <br />
    <a href="{% url 'user-logout' %}" class="btn btn-info navbar-btn" type="button">Logout</a>
</div>
<br />
<div class="container bg-white shadow-md px-5 pb-3 pt-4 form-layout">

</div>
<br />
<div class="container bg-white shadow-md px-5 pb-3 pt-4 form-layout">

</div>
{% endblock %}

