{% extends 'base.html' %}
{% block title %} Add Stock Page {% endblock %}
{% block content %}
<form class="d-flex me-auto" role="search" method="POST" action="{% url 'add_stock' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Add Stock" aria-label="Search" name="ticker">
    <button class="btn btn-outline-success mx-1" type="submit"><i class="fa-solid fa-plus"></i></button>
</form>
<br/>
<table class="table table-hover caption-top">
    <caption>Stock Portfolio <span class="badge text-bg-danger">{{ticker|length}}</span></caption>
    <thead class="table-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Previous Close</th>
        <th scope="col">Market Cap</th>
        <th scope="col">YTD Change</th>
        <th scope="col">52Wk High</th>
        <th scope="col">52Wk Low</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
{% for item in ticker %}
    <tr>
        <td>{{ item.id }}.</td>
        <td><i class="fa-solid fa-coins"></i> {{ item }}</td>
        <td><a href="{% url 'delete' item.id %}">Delete</a></td>
        <td><a href="{% url 'delete' item.id %}">Delete</a></td>
        <td><a href="{% url 'delete' item.id %}">Delete</a></td>
        <td><a href="{% url 'delete' item.id %}">Delete</a></td>
        <td><a href="{% url 'delete' item.id %}">Delete</a></td>
        <td><a href="{% url 'delete' item.id %}">Delete</a></td>
        <td><a href="{% url 'delete' item.id %}">Delete</a></td>
    </tr>
{% endfor %}
    </tbody>
    <tfoot class="table-light">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Previous Close</th>
        <th scope="col">Market Cap</th>
        <th scope="col">YTD Change</th>
        <th scope="col">52Wk High</th>
        <th scope="col">52Wk Low</th>
        <th scope="col">Delete</th>
    </tfoot>
</table>
{% endblock %}




